{% extends "decks/_base.html" %}

{% block title %}トップページ{% endblock %}

{% block content %}
    <div class="card card-block p-3 mb-3">
        <h4 class="card-title">About</h4>
        <p class="card-text">
            このサイトは、ポケモンカードゲームのコミュニティサイトになる予定です。<br/>
            ポケモンカードゲームをより手軽に、オープンに、そして活発に競技として楽しめるようにすることを目標として制作しています。<br/>
            デッキ共有や議論、サイト上での模擬対戦、対戦結果の統計データの公開等ができるプラットフォームを作っていく予定です。
        </p>
        <p class="card-text">
            This site is going to be a community site of Pokemon TCG.<br/>
            The final goal is to make the competitive Pokemon TCG play more open, active and easier to enjoy. <br/>
            We're going to set up deck builder, online play simulator, statistics based on the data from the
            simulator here.
        </p>
    </div>
    <div>
        <p>
            Todo:<br/>
            ・デッキの登録フォームを作る<br/>
            ・Unityの使い方を学ぶ<br/>
            ・Unityで試合ができる対戦シミュレータを作る<br/>
            ・カードの個別ビューのページをまともにする<br/>
        </p>

    </div>
    {% comment %}

    {% if latest_deck_list %}
        <ul>
            {% for deck in latest_deck_list %}
                <li><a href="{% url 'decks:detail' deck.id %}">{{ deck.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No decks are available.</p>
    {% endif %}

    {% endcomment %}
{% endblock %}
