<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>デッキコード -> 印刷用PDF</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
            integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    {#    {% load static %}#}
    {#    <link rel="stylesheet" type="text/css" href="{% static 'decks/main.css' %}">#}
</head>
<body>
<div>
    <section role="complementary">


        <nav role="navigation">
            <ul>
                <li><a href="/">トップへ</a></li>
                <li><a href="#">Cards</a></li>
                <li><a href="#" aria-haspopup="true">Decks</a>
                    <ul class="dropdown" aria-label="submenu">
                        <li><a href="#">Sub-1</a></li>
                        <li><a href="#">Sub-2</a></li>
                        <li><a href="#">Sub-3</a></li>
                    </ul>
                </li>
                <li><a href="#">Forums</a></li>
                <li><a href="#">Play!</a></li>

            </ul>
        </nav>


    </section>
</div>
<div style="clear: left">

</div>
<h4>＜使い方＞</h4>
<p>
    <a href="https://www.pokemon-card.com/deck/index.html" target="_blank">デッキ構築 | ポケモンカードゲーム公式ホームページ</a><br />
    ↑に登録されているデッキコードの、印刷用のPDFを生成することができます。<br />
    「非公開」になっている自分の作成したデッキも印刷することができます。<br />
    A4の紙に等倍で印刷してください。<br />
    <p>
        ネットプリントサービスと組み合わせることで、外出先での印刷も可能です。
    </p>
</p>
<h4>＜お願い＞</h4>
<p>
    サーバー使用料が1回あたり5円弱かかるので、ほどほどに使ってください。<br/>
    Amazonギフト券(15円～)をlagyu_gift@outlook.jpに寄付してくれるとモチベが上がります。
</p>

<form action="/proxy_result" method="get">
    {{ form.as_p }}
    <input type="submit" value="Submit">
</form>
<p>
    注: 6/16ごろから、一部の基本エネルギーの画像がポケモンカード公式サイトで裏面表示で配信されているのでPDFでも裏面表示になります。
</p>
</body>
</html>
